@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}


.container {
	width: 80%;
  margin: 0 auto;
  height: 40%;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.slide:nth-child(1) {
  background: #D93B65;
}

.slide:nth-child(2) {
  background: #037E8C;
}

.slide:nth-child(3) {
  background: #36BF66;
}

.slide:nth-child(4) {
  background: #D9D055;
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}

    #short{
        /*gör så att texten hamnar i mitten*/
        text-align: center;
        /*lägger till en ram och anger storlek och stil*/
        border: 2px double;
        /*anger formen på ramen*/
        border-radius: 5px;
        /*ändrar formens bredd*/
        
        /*anpassar text så den hamnar i mitten av hemsidan*/
        margin: auto;
        /*gör utrymmet större ovanför texten*/
        margin-top: 1rem;
        /*skapar mer utrymme i ramen*/
        padding: 0.5rem;
        /*anpassar mellanrummet mellan raderna*/
        line-height: 1.5rem;
        /*positionen anpassar sig till de ändringar vi gör*/
        position: right;
        width: 20%;
        margin-left: 100px;  
    }
   
    #short2{
        /*gör så att texten hamnar i mitten*/
        text-align: center;
        /*lägger till en ram och anger storlek och stil*/
        border: 2px double;
        /*anger formen på ramen*/
        border-radius: 5px;
        /*ändrar formens bredd*/
        
        /*anpassar text så den hamnar i mitten av hemsidan*/
        margin: auto;
        /*gör utrymmet större ovanför texten*/
        margin-top: 1rem;
        /*skapar mer utrymme i ramen*/
        padding: 0.5rem;
        /*anpassar mellanrummet mellan raderna*/
        line-height: 1.5rem;
        /*positionen anpassar sig till de ändringar vi gör*/
        position: right;
        width: 20%;
        margin-right: 100px;  
    }
    #short3{
        /*gör så att texten hamnar i mitten*/
        text-align: center;
        /*lägger till en ram och anger storlek och stil*/
        border: 2px double;
        /*anger formen på ramen*/
        border-radius: 5px;
        /*ändrar formens bredd*/
        
        /*anpassar text så den hamnar i mitten av hemsidan*/
        margin: auto;
        /*gör utrymmet större ovanför texten*/
        margin-top: 1rem;
        /*skapar mer utrymme i ramen*/
        padding: 0.5rem;
        /*anpassar mellanrummet mellan raderna*/
        line-height: 1.5rem;
        /*positionen anpassar sig till de ändringar vi gör*/
        position: right;
        width: 20%;
        margin-center: 100px;  
    }
    .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      .button {background-color: #008CBA;} /* Blue */
      